body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

.section__container {
    height: 100vh;
    background-color: #E3CFCF;
    opacity: 0;
    transform: translateX(-1800px);
    transition: all 0.8s ease-in-out;
}

.section.visible .section__container {
    opacity: 1;
    transform: translateX(0);
}

.section__image {
    height: 18.75rem;
    width: 100%;
}

.section__image img {
    height: 100%;
    width: 100%;
}


.section__text {
    height: calc(100% - 300px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.section__text__wrapper {
    padding-inline: 1rem;
    margin-inline: auto;
    max-width: 512px;
}

.section__title {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 275;
    line-height: 1.935rem;
    margin: 0;
}

.section__description {
    text-align: center;
    font-weight: 300;
    margin: 0;
    font-size: 1rem;
    line-height: 1.314rem;
    margin-top: 1.25rem;
    max-height: 0;
    opacity: 0;
    transform: translateY(-150px);
    transition: all 0.4s ease-in-out;
}

.section__description.expanded {
    opacity: 1;
    transform: translateY(0);
    max-height: 250px;
}

.section__button {
    text-align: center;
    margin-top: 1.25rem;
}

.section__button button {
    height: 3rem;
    width: 6.875rem;
    background: transparent;
    cursor: pointer;
    border: 1px solid #000000;
}


@media (min-width: 768px) {
    .section__container {
       display: flex;
       align-items: center;
    }

    .section__image {
        flex: 1;
        height: 100vh;
    }

    .section__text {
        flex: 1;
        height: 337px;
        width: 50%;
        
    }

    .section__title {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .section__description {
        font-size: 1.125rem;
        line-height: 1.4375rem;
    }

    .section__button {
        margin-top: 1.5rem;
    }
    
    .section__button button {
        height: 3.25rem;
        width: 10.625rem;
    }

}

@media (min-width: 1100px) {
    .section__text__wrapper {
        width: 32rem;
        padding-inline: 0;
    }
}